div.alldiv{
    
    height: 150px; 
    width: 30%;
    border: 5px solid black;
    float: left;
    margin: 5px;
}

div#div1{background-color:rgb(79, 244, 244);}
div#div2{background-color:rgb(24, 216, 69);}
div#div3{background-color:rgb(182, 23, 23);}




/* Comment Example of how to get an image to size on any device*

img {
    display: block;
    max-width: 100%
}

/* Comment Use min-height for boxes  */
/* Comment Use max-width  for boxes  */
/* Comment Use "margin-inline: auto" to center content for boxes  */
/* Comment Use Auto rather that 100% for widths in most cases  */





/